<div class="container-fluid1">
    <div class="row1">
      <div class="col5">
        <div class="newletter">
          <p class="sub">
            Subscribe to our
            <span class="news"> Newsletter </span>
          </p>
          <p class="sub-text">
            Be the frist to hear about our offers, new % trending products and
            updates
          </p>
  
          <form>
            <input type="text" />
            <button class="join" type="submit">Join</button>
          </form>
  
          <div class="getintouch-cont">
            <span class="getinTouch">Get in Touch</span>
           <div class="fb ">
            <img src="../../assets/Footer/facebook.webp" alt="">
           </div>
  
           <div class="fb ">
            <img src="../../assets/Footer/instagram svg.webp" alt="">
           </div>
  
  
           <div class="fb ">
            <img src="../../assets/Footer/linkedin.webp" alt="">
           </div>
          </div>
        </div>
      </div>
      <div class="col1">
        <div class="address">
          <ul>
            <li>
              <img class="logoimg" src="../../assets/Footer/logo.webp" alt="" />
            </li>
  
            <li>
              <p class="contact">Contact Details</p>
            </li>
            <li>
              <p class="address1">
                G-35, Sector 3 , <br />
                Noida, Uttar Pradesh <br />
                U 20131
              </p>
            </li>
            <li>
              <p class="text-color">Contact No.- 07836803051</p>
            </li>
            <li class="text-color">Email-contactusnegbuy.com</li>
          </ul>
        </div>
      </div>
      <div class="col2">
        <div>
          <ul class="cate">
            <li class="category">
              <a href="#" class="category1" > Category </a>
            </li>
  
            <li >
              <a href="#"> Animal & Petcare </a>
            </li>
            <li>
              <a href="#"> Gems and Jewellery </a>
            </li>
            <li>
              <a href="#"> Engineering Goods </a>
            </li>
  
            <li>
              <a href="#"> Mechanical Goods </a>
            </li>
            <li>
              <a href="#"> Animal and petcare </a>
            </li>
            <li>
              <a href="#"> Gems and Jewellery </a>
            </li>
            <li>
              <a href="#"> Anmimal and pet care </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col3">
        <div>
          <ul class="cate">
            <li class="mypad">
              <a href="#" class="info">Information</a>
            </li>
            <li>
              <a href="#"> About Negbuy </a>
            </li>
            <li>
              <a href="#"> Download App </a>
            </li>
            <li>
              <a href="#"> My Account </a>
            </li>
            <li>
              <a href="#"> Privacy Policy </a>
            </li>
            <li>
              <a href="#"> Terms & Condition </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col4">
        <div class="newletter">
          <p class="sub">
            Subscribe to our
            <span class="news"> Newsletter </span>
          </p>
          <p class="sub-text">
            Be the frist to hear about our offers, new % trending products and
            updates
          </p>
  
          <form>
            <input type="text" />
            <button class="join" type="submit">Join</button>
          </form>
  
          <div class="getintouch-cont">
            <span class="getinTouch">Get in Touch</span>
           <div class="fb ">
            <img src="../../assets/Footer/facebook.webp" alt="">
           </div>
  
           <div class="fb ">
            <img src="../../assets/Footer/instagram svg.webp" alt="">
           </div>
  
  
           <div class="fb ">
            <img src="../../assets/Footer/linkedin.webp" alt="">
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  