<div class="container1 mb-2">
    <div class="row1">
      <div class="col2 ">
        <p class="animalheading">
      Apparel & Accessories
        </p>
      
  <hr>
        <div class="sub-container">
          <div class="animal-contt">
           <img   loading="lazy" src="../../../assets/Apparel-Accessories//clothing.webp" alt="" />
            <div>
              <p class="cont-Subhead">Clothing</p>
              <div class="hr"></div>
              <p class="cont-subtext">activewear</p>
              <p class="cont-subtext">baby & toddler clothing dress</p>
              <p class="cont-subtext">One Peice</p>
            </div>
          </div>
  
          <div class="animal-contt">
           <img   loading="lazy" src="../../../assets/Apparel-Accessories//clothingAccessories.webp " alt="" />
            <div>
              <p class="cont-Subhead">Bandana & Handties</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">belt Buckles</p>
              <p class="cont-subtext">Bridal Accessoies</p>
              <p class="cont-subtext res-hide">Hair Accessoies</p>
              <p class="cont-subtext">Catchers Helmet</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../../assets/Apparel-Accessories/costumeAccessories.webp " alt="" />
            <div>
              <p class="cont-Subhead">Costume Accessories </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Costume Accessories </p>
              <p class="cont-subtext">Costume Capes</p>
              <p class="cont-subtext">Costume Gloves</p>
              <p class="cont-subtext res-hide2">Pretend Jewellry</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../../assets/Apparel-Accessories/handbag.webp" alt="" />
            <div>
              <p class="cont-Subhead">Handbag Accessoies</p>
              <div class="hr"></div>
  
              <p class="cont-subtext res-hide2">CheckBook Covers </p>
              <p class="cont-subtext"> keychain</p>
              <p class="cont-subtext res-hide"> Lanyards</p>
              <p class="cont-subtext ">Badge & Pass Holders</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../../assets/Apparel-Accessories/jewelery.webp" alt="" />
            <div>
              <p class="cont-Subhead"> Anklet</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Body Jewellry</p>
              <p class="cont-subtext  ">Watch Accessoires</p>
              <p class="cont-subtext">Necklaces</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../../assets/Apparel-Accessories/shoe.webp" alt="" />
            <div>
              <p class="cont-Subhead">
                Shoe Accessoies
              </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Boot Liners</p>
              <p class="cont-subtext">Gaiters</p>
              <p class="cont-subtext res-hide">Shoes Covers</p>
              <p class="cont-subtext">Shoe Laces</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col1" >
        <!--<img   loading="lazy" src="../../assets/Animal and pet care/animal and pet care poster.png" alt="" srcset=""> -->
        <p class="poster-head">
          <a href="#"> Apparel & Accessories </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#">Clothing </a>
          </li>
          <li>
            <a href="#">clothing Accessoies
            </a>
          </li>
          <li>
            <a href="#"> Constumes & Accessoies </a>
          </li>
          <li>
            <a href="#"> handBags & wallet Accessories </a>
          </li>
        
          <li>
            <a href="#"> jewelery</a>
          </li>
          <li>
           <a href=""  class="view-btn">View All</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  