<app-header></app-header>
<app-subheader></app-subheader>
<div class="w-100 d-flex my-1">
  <div style="width: 69%">
    <app-banner></app-banner>
  </div>
  <div style="width: 29%">
    <div class="col2">
      <app-news></app-news>
    </div>
  </div>
</div>
<app-office-supplies></app-office-supplies>

<app-animalslider></app-animalslider>

<app-apparel-accessories></app-apparel-accessories>

<app-hardware-slider></app-hardware-slider>
<!-- <app-rfq></app-rfq> -->
<app-health-beatuy></app-health-beatuy>
<app-vehicle-part></app-vehicle-part>
<app-electroni-equipment></app-electroni-equipment>

<app-sport-good></app-sport-good>
<app-hardware></app-hardware>
<app-furniture></app-furniture>
<app-ourservice></app-ourservice>
<app-camera-optic></app-camera-optic>

<app-home-gardens></app-home-gardens>