

<app-mainheader></app-mainheader>




<div class="container-fluid">


  <div class="">
    <div class="tracker">
      <ul class="border">
        <li><a href="products">Product </a> </li><span>-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-</span>
        <li><a href="address">Address</a> </li><span>-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-</span>
        <li><a href="payments">Payment </a></li>
      </ul>
    </div>

    <div class="allmap">
      <div class="earth">
        <img src="assets/Trakerpage/earth.webp" alt="" />
      </div>
      <div class="world">
        <img class="map" src="assets/Trakerpage/world.webp" alt="" />
      </div>
    </div>

    <form action="" class="">
      <div class="form">
        <div class="left">
          <div class="shipingmode">
            <div class="shipingForm">
              <p>Choose Your Mode Of Shiping</p>
              <select>
                <option value="ddp">DDP</option>
                <option value="ddp">Ex Work</option>
              </select>

              <label for="">Selection of Route</label>
              <select>
                <option value="ddp">DDP</option>
                <option value="ddp">Ex Work</option>
              </select>
            </div>
            -
          </div>

          <div class="QnS">
            <li class="QnS-heading">Frequently Asked Question</li>
            <li>
              <p>what is mode of shipping ?</p>
            </li>
            <li>
              <p>what is selection of route ?</p>
            </li>
            <li>
              <p>
                We are happy to solve your query reach us at given detail (24*7)
              </p>
              <br /> <br>
              <p><b>Email ID-</b>help@negbuy.com?</p>
              <span> <b>Contact Number-</b>+91 - 8595483567</span>
            </li>

            <!-- </ul> -->
          </div>
        </div>

        <div class="right">
          <div class="deliveryAddres">
            <div class="delivery-form">
              <p>Confirm Delivery Address</p>
              <div class="form-input">
                <div class="col-5">
                  <div class="col-11">
                    <label for="">Pincode</label> <br />
                    <input type="text" class="w-100" />
                  </div>
                </div>
                <div class="col-5">
                  <div class="col-11">
                    <label for="">Pincode</label> <br />
                    <input type="text" class="w-100" />
                  </div>
                </div>
              </div>

              <div class="form-input">
                <div class="col-5">
                  <div class="col-11">
                    <label for="">Country</label> <br />
                    <input type="text" class="w-100" />
                  </div>
                </div>
                <div class="col-5">
                  <div class="col-11">
                    <label for="">State</label> <br />
                    <input type="text" class="w-100" />
                  </div>
                </div>
              </div>
              <div class="form-input mt-3">
                <div class="col-10">
                  <label for="enter your full address"
                    >Enter Full Address</label
                  >
                  <textarea rows="8" cols="57" name="comment" form="usrform">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- location breakdown in points -->

      <div class="location-container ">
        <div class="headerDiv">Your Location Breakdown in Pin Points</div>
        <div class="location-address">
          <div class="col">
            <p>Noida, Uttar Pradesh</p>
            <span>Seller's Warehouse</span>
          </div>
          <div class="line">-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-</div>
          <div class="col">
            <p>Safdarjung New Delhi</p>
            <span>Nearest Port of Seller's Address</span>
          </div>
          <div class="line">-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-</div>
          <div class="col">
            <p>Noida, Uttar Pradesh</p>
            <span>Port near your address</span>
          </div>
          <div class="line">-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-</div>
          <div class="col">
            <p>Noida, Uttar pradesh</p>
            <span>your Address</span>
          </div>
        </div>
      </div>


      <!-- delivery Partner -->

      <div class="delivertPartner">
        <div class="heading">Select a Delivery Partner of your choice</div>
        <div class="partners">
          <div class="col-6 ">
            <div class="col-11 ">
              <input type="checkbox">
              <label for="">Shadow Fax Surface </label>
              <span>$15245</span>
            </div>


            <div class="col-11 ">
              <input type="checkbox">
              <label for="">Shadow Fax Surface </label>
              <span>$15245</span>

            </div>

            <div class="col-11 ">
              <input type="checkbox">
              <label for="">Shadow Fax Surface </label>
              <span>$15245</span>

            </div>
          </div>
          <div class="col-6 ">
            <div class="col-11 bb ">
              <input type="checkbox">
              <label for="">Shadow Fax Surface </label>
              <span>$15245</span>


            </div>


            <div class="col-11 ">
              <input type="checkbox">
              <label for="">Shadow Fax Surface </label>
              <span>$15245</span>

            </div>

            <div class="col-11 ">
              <input type="checkbox">
              <label for="">Shadow Fax Surface </label>
              <span>$15245</span>

            </div>
          </div>
        </div>
      </div>
      <div class="procced">
        <!-- <input type="submit" value="Proceed"> -->
        <a   routerLink="paymentPage">Proceed</a>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>