<div class="container1 mb-2 mt-2">
    <div class="row1">
      <div class="col1">
        <p class="poster-head">
          <a href="#">  Vehicle Part </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#"> Motor Boat </a>
          </li>
          <li>
            <a href="#"> Car,Truck & Van </a>
          </li>
          <li>
            <a href="#"> Golf Cart </a>
          </li>
          <li>
            <a href="#"> Motor cycles & Scooters </a>
          </li>
          <li>
            <a href="#"> Off-road Vehicles </a>
          </li>
          <li>
            <a href="#" class="view-btn"> View all </a>
          </li>
        </ul>
      </div>
      <div class="col2">
        <p class="animalheadingleft">
            Vehicle Part & Accessories
        </p>
        <hr>
  
        <div class="sub-container">
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/vehiclePart/Electronic.webp" alt="" />
            <div>
              <p class="cont-Subhead">Motor Vehicle Electronic</p>
              <div class="hr"></div>
              <p class="cont-subtext">Motor Vehicle A/V players</p>
              <p class="cont-subtext">Motor Vehicle Amplifiers</p>
              <p class="cont-subtext res-hide">Motor vehicle Cassette Player</p>
              <p class="cont-subtext">Motor Vehicle Parking Cameras</p>
            </div>
          </div>
  
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/vehiclePart/Parts.webp" alt="" />
            <div>
              <p class="cont-Subhead">Motor Vehicle Parts</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Motor Vehicle Braking</p>
              <p class="cont-subtext res-hide">Motor Vehicle Control</p>
              <p class="cont-subtext">Motor Vehicle Engine Parts</p>
              <p class="cont-subtext">Motor Vehicle Exhaust</p>
            </div>
          </div>
          <div class="animal-contt">
            <img   loading="lazy" src="../../assets/vehiclePart/decor.webp" alt="" />
             <div>
               <p class="cont-Subhead">Vehicle Care & Decor</p>
               <div class="hr"></div>
   
               <p class="cont-subtext">Vehicle Cleaning</p>
               <p class="cont-subtext">Vehicle Cover</p>
               <p class="cont-subtext">Vehicle Decor</p>
               <p class="cont-subtext">Vehicle Paints</p>
             </div>
           </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/vehiclePart/safety.webp" alt="" />
            <div>
              <p class="cont-Subhead">Safety & Security</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Motorcycle Protective Gear</p>
              <p class="cont-subtext">Vehicle Alarm & locks</p>
              <p class="cont-subtext">Vehicle Safety Equipment</p>
              <p class="cont-subtext">Vehicle Wheel Chocks</p>
            </div>
          </div>
         
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/vehiclePart/StorageCargo.webp" alt="" />
            <div>
              <p class="cont-Subhead">Storage & Cargo</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Motor Vehicle Cargo Nets</p>
              <p class="cont-subtext">Motor Vehicle Carrying Racks</p>
              <p class="cont-subtext">Motor Vehicle Trailers</p>
              <p class="cont-subtext">Motorcycle Bags & Panniers </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/vehiclePart/waterCraft.webp" alt="" />
            <div>
              <p class="cont-Subhead">Watercraft Parts</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Docking & Anchoring</p>
              <p class="cont-subtext res-hide">watercraft Care </p>
              <p class="cont-subtext">watercraft Part</p>
              <p class="cont-subtext">watercraft Fuel System </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  