<div class="container1 mb-2">
    <div class="row1">
      <div class="col2 ">
        <p class="animalheading">Hardware</p>
      
  <hr>
        <div class="sub-container">
          <div class="animal-contt">
            <img src="../../assets/hardware/BuildingMaterial.webp" alt="" />
            <div>
              <p class="cont-Subhead">Building Material</p>
              <div class="hr"></div>
              <p class="cont-subtext">Door</p>
              <p class="cont-subtext">Flooring & Carpet</p>
              <p class="cont-subtext">Glass</p>
              <p class="cont-subtext">Hatches</p>
            </div>
          </div>
  
          <div class="animal-contt">
            <img src="../../assets/hardware/FencingBarries.webp" alt="" />
            <div>
              <p class="cont-Subhead">Fencing & Barries</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Fence panel</p>
              <p class="cont-subtext">Fence Picket</p>
              <p class="cont-subtext">Fence Posts Rails</p>
              <p class="cont-subtext">Lattice</p>
            </div>
          </div>
          <div class="animal-contt">
            <img src="../../assets/hardware/fuel.webp" alt="" />
            <div>
              <p class="cont-Subhead">Fuel</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Home Heating Oil</p>
              <p class="cont-subtext">clyde Kerosene</p>
              <p class="cont-subtext">Dyed Kerosene</p>
              <p class="cont-subtext">Propane</p>
            </div>
          </div>
          <div class="animal-contt">
            <img src="../../assets/hardware/hardwareAcceroies.webp" alt="" />
            <div>
              <p class="cont-Subhead">Hardware Accessories</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Cabinet </p>
              <p class="cont-subtext"> Wire & Rope</p>
              <p class="cont-subtext"> Fastner</p>
              <p class="cont-subtext storage-org">Storage & Organisation</p>
            </div>
          </div>
          <div class="animal-contt">
            <img src="../../assets/hardware/pumps.webp" alt="" />
            <div>
              <p class="cont-Subhead"> Pumps</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Appliances Pump</p>
              <p class="cont-subtext">Pool,Fountain & Pond Pump</p>
              <p class="cont-subtext  storage-org">Booster,Irrigation Sys. Pump</p>
              <p class="cont-subtext">Utility Pumps</p>
            </div>
          </div>
          <div class="animal-contt">
            <img src="../../assets/hardware/plumbing.webp" alt="" />
            <div>
              <p class="cont-Subhead">Plumbing</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Plumbing Fitting </p>
              <p class="cont-subtext">Plumbing Fixture Hardware Parts</p>
              <p class="cont-subtext">Plumbing Fixture</p>
              <p class="cont-subtext">Water Dispensing</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col1" >
        <!-- <img src="../../assets/Animal and pet care/animal and pet care poster.png" alt="" srcset=""> -->
        <p class="poster-head">
          <a href="#"> Building Consumable  </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#">Chemicals  </a>
          </li>
          <li>
            <a href="#">Solder & Flux </a>
          </li>
          <li>
            <a href="#"> Hardware Glue &  Adhesive</a>
          </li>
          <li>
            <a href="#"> Masonry Consumable </a>
          </li>
          <li class="view-btn2">
            <a href="#"> Plumbing Primer </a>
  
          </li>
          <li>
            <a href="#" class="view-btn"> View All </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  