<div class="container1 mb-2">
    <div class="row1">
      <div class="col2 ">
        <p class="animalheading">
       Sporting Goods
        </p>
      
  <hr>
        <div class="sub-container">
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/sportsGood/Football.webp" alt="" />
            <div>
              <p class="cont-Subhead">Football</p>
              <div class="hr"></div>
              <p class="cont-subtext">Football</p>
              <p class="cont-subtext">Football Gloves</p>
              <p class="cont-subtext">Football helmet</p>
              <p class="cont-subtext">Football Strudge</p>
            </div>
          </div>
  
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/sportsGood/baseball.webp " alt="" />
            <div>
              <p class="cont-Subhead">baseball</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">baseball Bat</p>
              <p class="cont-subtext">Baseball Gloves</p>
              <p class="cont-subtext res-hide">baseball Leg Guard</p>
              <p class="cont-subtext">Catchers Helmet</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/sportsGood/basketball.webp " alt="" />
            <div>
              <p class="cont-Subhead">Baseketball Net </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Baseletbat Hoop </p>
              <p class="cont-subtext">Basketball Rims</p>
              <p class="cont-subtext">Baseketball Rims</p>
              <p class="cont-subtext res-hide2">Baseketball Board</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/sportsGood/Boxing.webp" alt="" />
            <div>
              <p class="cont-Subhead">Boxing & Martialart</p>
              <div class="hr"></div>
  
              <p class="cont-subtext res-hide2">Boxing Hand Wraps </p>
              <p class="cont-subtext"> MMA hand Gaurds</p>
              <p class="cont-subtext res-hide"> Punching and Traning Bags</p>
              <p class="cont-subtext ">Martialart Belt </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/sportsGood/Cricket.webp" alt="" />
            <div>
              <p class="cont-Subhead"> Cricket</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Cricket Bat Grip</p>
              <p class="cont-subtext">Cricket Gloves</p>
              <p class="cont-subtext  ">Cricket Leg Guard</p>
              <p class="cont-subtext">Cricket Stumps</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/sportsGood/pingpong.webp" alt="" />
            <div>
              <p class="cont-Subhead">Ping Pong
              </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Ping Pong Ball</p>
              <p class="cont-subtext">Ping Pong Net</p>
              <p class="cont-subtext res-hide">Ping Pong Padle & Set</p>
              <p class="cont-subtext">Ping Pong Tables</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col1" >
        <!--<img   loading="lazy" src="../../assets/Animal and pet care/animal and pet care poster.png" alt="" srcset=""> -->
        <p class="poster-head">
          <a href="#"> Sporting Equipment </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#">Badminton Racket </a>
          </li>
          <li>
            <a href="#">Tennis Ball </a>
          </li>
          <li>
            <a href="#"> Tennos Rackets </a>
          </li>
          <li>
            <a href="#"> Badminton Cock </a>
          </li>
        
          <li>
            <a href="#"> Tennis Net </a>
          </li>
          <li>
           <a href=""  class="view-btn">View All</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  