<app-mainheader></app-mainheader>
<div class="container-fluid">
  <div class="tracker">
    <ul class="border">
      <li><a href="products">Product </a></li>
      <span
        >-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-</span
      >
      <li><a href="address">Address</a></li>
      <span
        >-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-</span
      >
      <li><a href="payments">Payment </a></li>
    </ul>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <p class="heading">Select payment Method</p>
        <div class="payMethod-reco">
          <p class="reco">Recommended</p>
          <div class="">Razorpay</div>
        </div>
        <div class=" payMethod">Debit/Credit Card</div>
        <div class=" payMethod">Online/net Banking</div>
        <div class=" payMethod">QR Scan</div>
        <div class=" payMethod">UPI Payment</div>
        <div class=" payMethod">Wallet</div>
        <div class=" payMethod">Cash on Delivery</div>
      </div>
      <div class="col-6 ">
        <div class="container mt-4 ">
          <p >You are paying through Razorpay</p>
          <img src="../../../assets/paymentpage/Razorpay.webp" alt="">
        </div>
      </div>
      <div class="col ">
        <div class="product-delt mt-4">
          <p class="heading ">Product Details</p>
          <div class="delt-container ">
            <div class="row">
              <div class="mycol1  ">
                <img
                  src="../../../assets/paymentpage/payment page product.webp"
                  alt=""
                />
              </div>
              <div class="mycol2 ">Black Leather Tracking Bag</div>
            </div>
            <div class="container-fluid ">
              <div class="row">
                <div class="col-6"><p>Courier Name</p></div>
                <div class="col-6 "><p>Shadow fax Service</p></div>
              </div>
              <div class="row">
                <div class="col-6"><p>Quantity</p></div>
                <div class="col-6 "><p>02</p></div>
              </div>
              <div class="row">
                <div class="col-6"><p>Product Price</p></div>
                <div class="col-6 "><p>1,40,255</p></div>
              </div>
              <div class="row">
                <div class="col-6"><p>GST 18%</p></div>
                <div class="col-6 "><p>5845</p></div>
              </div>
              <div class="row">
                <div class="col-6"><p>Service Charge</p></div>
                <div class="col-6 "><p>689.00</p></div>
              </div>
              <div class="row">
                <div class="col-6"><p>Delivery Charge</p></div>
                <div class="col-6  float-right"><p>5486.00</p></div>
              </div>
              <div class="row ">
                <div class="col-6"><p>Total</p></div>
                <div class="col-6 "><p>5,46,588</p></div>
              </div>
            </div>
          
          </div>
        </div>
        <div class="makePayment ">
          Make Payment
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col1"></div>
  </div>
</div>
