<div class="container1 mb-2">
    <div class="row1">
      <div class="col2 ">
        <p class="animalheading">
       Home & Gardens
        </p>
      
  <hr>
        <div class="sub-container">
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/HomeGarden/decor.webp" alt="" />
            <div>
              <p class="cont-Subhead">Decor</p>
              <div class="hr"></div>
              <p class="cont-subtext"> Address Signs </p>
              <p class="cont-subtext"> Artifical Flora </p>
              <p class="cont-subtext"> Artwork </p>
              <p class="cont-subtext"> Backrest Pillows </p>
            </div>
          </div>
  
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/HomeGarden/mergency.webp" alt="" />
            <div>
              <p class="cont-Subhead">Emergency Items</p>
              <div class="hr"></div>
  
              <p class="cont-subtext"> Earthquake Alarms </p>
              <p class="cont-subtext"> Emergency Blankets </p>
              <p class="cont-subtext res-hide">
                Emergency Food Kits
              </p>
              <p class="cont-subtext">
                Furniture Anchors
            </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/HomeGarden/homeSecurity.webp" alt="" />
            <div>
              <p class="cont-Subhead">
                Home Security    
            </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">
                Dummy surveillance Cameras
              </p>
              <p class="cont-subtext">
                Home Alarms Systems
            </p>
              <p class="cont-subtext">
                Motion Sensor
            </p>
              <p class="cont-subtext res-hide2"> 
                security Safe
            </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/HomeGarden/fireplace.webp" alt="" />
            <div>
              <p class="cont-Subhead">
                Fireplace & Stove
              </p>
              <div class="hr"></div>
  
              <p class="cont-subtext ">
                Bellows    
            </p>
              <p class="cont-subtext"> 
                Fireplace & Wood Stove Grates    
            </p>
              <p class="cont-subtext "> 
                Log Racks & Carriers
            </p>
              <p class="cont-subtext res-hide "> 
                Hearth Pads
            </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/HomeGarden/flood.webp" alt="" />
            <div>
              <p class="cont-Subhead"> 
                Flood, Fire, Gas, Safety    
            </p>
              <div class="hr"></div>
  
              <p class="cont-subtext"> 
                Fire Alarm Control Panels    
            </p>
              <p class="cont-subtext"> 
                Fire Alarms    
            </p>
              <p class="cont-subtext res-hide "> 
                Smoke & Carbon Panels    
            </p>
              <p class="cont-subtext"> Water & Flood Detectors</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/HomeGarden/household.webp" alt="" />
            <div>
              <p class="cont-Subhead">
                
                Household Appliance
              </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">
                Air Conditions Accessories
              </p>
              <p class="cont-subtext"> Air Purifier Accessories </p>
              <p class="cont-subtext res-hide">
            Laundry Appliance Accessories    
            </p>
              <p class="cont-subtext res-hide"> 
                
                Climate Control Appliance
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col1" >
        <!--<img   loading="lazy" src="../../assets/Animal and pet care/animal and pet care poster.png" alt="" srcset=""> -->
        <p class="poster-head">
          <a href="#"> Bathroom accessories </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#"> Bath Caddies</a>
          </li>
          <li>
            <a href="#"> Bathroom Accessory Mouns </a>
          </li>
          <li>
            <a href="#"> Hand Dryer Accessories </a>
          </li>
          <li>
            <a href="#"> Shower Curtains </a>
          </li>
        
          <li>
            <a href="#"> Toothbrush Holders </a>
          </li>
          <li>
           <a href=""  class="view-btn">View All</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  