<div class="container1 mb-2">
    <div class="row1">
      <div class="col2 ">
        <p class="animalheading">
       Camera & Optics
        </p>
      
  <hr>
        <div class="sub-container">
          <div class="animal-contt">
           <img   loading="lazy" src="../../../assets/CameraOptics/camera.webp" alt="" />
            <div>
              <p class="cont-Subhead">Cameras</p>
              <div class="hr"></div>
              <p class="cont-subtext">Broescopes</p>
              <p class="cont-subtext">Digital Cameras</p>
              <p class="cont-subtext">Film Cameras</p>
              <p class="cont-subtext">Video Cameras</p>
            </div>
          </div>
  
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/CameraOptics/Optics.webp" alt="" />
            <div>
              <p class="cont-Subhead">Optics</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Binoculars</p>
              <p class="cont-subtext">Monoculars</p>
              <p class="cont-subtext res-hide">
                Rangefinders
              </p>
              <p class="cont-subtext">Scopes</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/CameraOptics/Photography.webp" alt="" />
            <div>
              <p class="cont-Subhead">Photography </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Darkroom</p>
              <p class="cont-subtext">Photographic Analyzers</p>
              <p class="cont-subtext">Photographic Paper</p>
              <p class="cont-subtext res-hide2"> Lighting & Studio </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/CameraOptics/Lighting&Studio.webp" alt="" />
            <div>
              <p class="cont-Subhead">Lighting & Studio</p>
              <div class="hr"></div>
  
              <p class="cont-subtext ">Light Meter Accessories </p>
              <p class="cont-subtext"> Light Meters </p>
              <p class="cont-subtext "> Studio Backgrounds </p>
              <p class="cont-subtext res-hide "> Studio Light & Flash Accessories </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/CameraOptics/EnlargingEquipment.webp" alt="" />
            <div>
              <p class="cont-Subhead"> Enlarging Equipment </p>
              <div class="hr"></div>
  
              <p class="cont-subtext"> Darkroom Timers </p>
              <p class="cont-subtext"> Focusing Aids </p>
              <p class="cont-subtext res-hide "> Photographic Analyzers </p>
              <p class="cont-subtext"> Photographic Enlargers </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../../assets/CameraOptics/CameraParts.webp" alt="" />
            <div>
              <p class="cont-Subhead">Camera Parts
              </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Camera Accessory Sets</p>
              <p class="cont-subtext"> Camera Digital Backs</p>
              <p class="cont-subtext res-hide"> Camera Flash Accessories </p>
              <p class="cont-subtext res-hide"> Camera Lens Zoom Units</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col1" >
        <!--<img   loading="lazy" src="../../assets/Animal and pet care/animal and pet care poster.png" alt="" srcset=""> -->
        <p class="poster-head">
          <a href="#"> Camera & Optic </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#"> Camera & Optic Replacement Cables </a>
          </li>
          <li>
            <a href="#">Camera  & Video Camera Lenses </a>
          </li>
          <li>
            <a href="#"> Camera  Lens Accessories </a>
          </li>
          <li>
            <a href="#"> Camera Parts & Accessories </a>
          </li>
        
          <li>
            <a href="#"> Optic Accessories </a>
          </li>
          <li>
           <a href=""  class="view-btn">View All</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  