<div class="container1 mb-2 mt-2">
    <div class="rowleft">
      <div class="col1">
        <p class="poster-head">
          <a href="#">  Electronic Accessories </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#"> Cables Clips </a>
          </li>
          <li>
            <a href="#"> Audio & Video Cables </a>
          </li>
          <li>
            <a href="#"> Storage & Data Transfer Cables </a>
          </li>
          <li>
            <a href="#"> System & Power Cables </a>
          </li>
          <li>
            <a href="#"> Network Cables </a>
          </li>
          <li>
            <a href="#" class="view-btn"> View all </a>
          </li>
        </ul>
      </div>
      <div class="col2">
        <p class="animalheadingleft">
            Electroni Equipment
        </p>
        <hr>
  
        <div class="sub-container">
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/ElectronicEqupment/audioAceesoires.webp" alt="" />
            <div>
              <p class="cont-Subhead">Audio Accessories</p>
              <div class="hr"></div>
              <p class="cont-subtext">Headphone Accessories</p>
              <p class="cont-subtext res-hide">Karaoke System Accessories</p>
              <p class="cont-subtext res-hide">Microphone Accessories</p>
              <p class="cont-subtext">Speaker Accessories</p>
            </div>
          </div>
  
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/ElectronicEqupment/audioComponent.webp" alt="" />
            <div>
              <p class="cont-Subhead">Audio Components</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Audio & Video Receivers</p>
              <p class="cont-subtext res-hide">Audio Amplifiers</p>
              <p class="cont-subtext">Audio transmitters</p>
              <p class="cont-subtext">Signal Processors</p>
            </div>
          </div>
          <div class="animal-contt">
            <img   loading="lazy" src="../../assets/ElectronicEqupment/cables.webp" alt="" />
             <div>
               <p class="cont-Subhead">Cables</p>
               <div class="hr"></div>
   
               <p class="cont-subtext">Audio % Video Cables</p>
               <p class="cont-subtext">KVM Cables</p>
               <p class="cont-subtext">Storage & Data Transfer Cables</p>
               <p class="cont-subtext">Telephone Cables</p>
             </div>
           </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/ElectronicEqupment/computerAccessories.webp" alt="" />
            <div class="">
              <p class="cont-Subhead">Computer Accessories</p>
              <div class="hr"></div>
  
              <div  class=" myscroll" >
                <p class="cont-subtext">Computer Accesory Sets</p>
              <p class="cont-subtext">Handheld Device Accessories</p>
              <p class="cont-subtext">Keyboard & Mouse Wrist Rests</p>
              <p class="cont-subtext" >Computer Covers & Skins</p>
              </div>
            </div>
          </div>
         
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/ElectronicEqupment/Electronic Films.webp" alt="" />
            <div>
              <p class="cont-Subhead">Electronic Films</p>
              <div class="hr"></div>
  
              <p class="cont-subtext ">Electrnoic Stickers & Decals</p>
              <p class="cont-subtext">Keyboard  Protectors</p>
              <p class="cont-subtext">Privacy filters</p>
              <p class="cont-subtext">Screen Protectors </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/ElectronicEqupment/marine.webp" alt="" />
            <div>
              <p class="cont-Subhead">Marine Electronics</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Fish Fingers</p>
              <p class="cont-subtext">Marine Audio & Video Receivers</p>
              <p class="cont-subtext ">Marine Radar</p>
              <p class="cont-subtext">Marine Speakers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  