<nav class="" id="navbar-example2">
    <!-- movile device -->
    <ul class="mobile-device">
      <li>
        <a href="">
          <img   loading="lazy"
            class="nb-logo2"
            src="../../assets/header/mainHeader.webp"
            alt=""
            srcset=""
            loading="lazy"
          /> 
          
        </a>
        <button type="button" class="btn float-end border me-3 humburger">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </button>
      </li>
      <li class="search-Bar2 ">
        <form action="" class="p-search">
          <button type="btn" class="btn-All">
            All
           <img   loading="lazy" class="all-img" src="../../assets/header/all.svg" alt="" />
          </button>
          <input
            class="search-pro bb"
            type="text"
            placeholder="&nbsp;&nbsp;&nbsp;Search Product Catorgiry"
          />
          <button type="btn" class="btn-Find">Find</button>
        </form>
      </li>
    </ul>
  
  
    <ul class="laptop-device  ">
      <li class="ng-logo">
        <a href="">
         <img   loading="lazy"
            class="nb-logo "
            src="../../assets/header/trial img/Rectangle 587.webp"
            alt=""
            srcset=""
            priority="high"
           width=""
           height=""
          />
        </a>
      </li>
  
      <li class="search-Bar">
        
          <form action="" class="p-search">
            <button type="btn" class="btn-All">
              All
             <img   loading="lazy" class="all-img" src="../../assets/header/all.svg" alt="" />
            </button>
            <input
              class="search-pro bb"
              type="text"
              placeholder="&nbsp;&nbsp;&nbsp;Search Product Catorgiry"
            />
            <button type="btn" class="btn-Find">Find</button>
          </form>
        
      </li>
      <li class="btn-submit bb">
        <a href="#submit-requriment" 
        
        > Submit your Requriment </a>
      </li>
      <li class="btn-Sell">
        <a href="" class="">
         <img   loading="lazy"
            class="sell-img"
            src="../../assets/header/trial img/Icon_Logo-removebg-preview 1.png"
            alt=""
            srcset=""
          />
         <span class="wanna "> Wanna Sell ?</span>
        </a>
      </li>
      <li>
        <a href="">
         
         <img   loading="lazy" src="../../assets/header/bookMark.svg" alt="" srcset=""  loading="lazy"/>
        </a>
      </li>
  
      <li class="btn-profile">
        <a href="">
         <img   loading="lazy" src="../../assets/header/profile.svg" alt="" />
        </a>
      </li>
    </ul>
  </nav>

  
  