<app-mainheader></app-mainheader>

<div class="productPage">
  <div class="productPage-details">
    <div class="productImages">
      <ngx-skeleton-loader
        [theme]="{ height: '100%' }"
        count="1"
        appearance="line"
        *ngIf="loader"
      ></ngx-skeleton-loader>

      <div class="mainImg-container">
        <img
          id="expandedImg"
          src="{{
            productdata.variants[variantIndex].extra_images[extraImage]
          }}"
        />
      </div>

      <div class="imgMap">
        <div class="images mb-2">
          <carousel class="c" [cellWidth]="100" [height]="50">
            <div
              class="carousel-cell"
              *ngFor="
                let extraImg of productdata.variants[variantIndex].extra_images;
                let i = index
              "
            >
              <img src="{{ extraImg }}" (click)="setImageSrc(i)" />
            </div>
          </carousel>
        </div>
      </div>
    </div>

    <div class="description">
      <div class="product-decription">
        <ngx-skeleton-loader
          [theme]="{  height: '100%', }"
          count="1"
          appearance="line"
          *ngIf="loader"
        ></ngx-skeleton-loader>

        <div class="name">
          {{ productdata.product_title }}
        </div>
        <div class="rateNreview">
          <div class="rate">
            <div class="dicountedRate">
              (&#8377;
              {{
                productdata.variants[variantIndex].size_variants[sizeIndex]
                  .price
              }}
              )
            </div>
            <div class="actualRate">
              (&#8377;
              {{
                productdata.variants[variantIndex].size_variants[sizeIndex].mrp
              }}
              )
              <div class="lineThrough"></div>
            </div>
            <div class="percentageOff">
              (
              {{
                productdata.variants[variantIndex].size_variants[sizeIndex]
                  .discount
              }}% off)
            </div>
          </div>
          <div class="review">
            <div class="review-rating">
              {{ reviewAnalysis.stars_out_of_5 }}
              <span><img src="assets/productPage/star.webp" alt="" /></span>
            </div>
            <div class="ratingStats"></div>
          </div>
        </div>
        <div class="condition" *ngIf=" productdata.variants[variantIndex].size_variants[sizeIndex]
        .moq !== null">
          <img src="assets/Images/info image png.png" alt="" />
          minimum order
          <p class="d-inline-block"> {{
            productdata.variants[variantIndex].size_variants[sizeIndex]
              .moq
          }}</p>
          pieces
        </div>

        <div class="bulkprice">
          <p>Price/Price per item</p>
          <div class="bulkInfo">
            <div
              *ngFor="
                let bulkpurchase of productdata.variants[variantIndex]
                  .size_variants[sizeIndex].bulk_purchase_details
              "
            >
              <p>
                {{ bulkpurchase.min_quantity }} -
                {{ bulkpurchase.max_quantity }} pieces
              </p>
              <p>&#8377; {{ bulkpurchase.price }}</p>
            </div>
          </div>
        </div>
        <div class="color">
          Colour :

          <button
            type="button"
            class="border btn d-inline-block me-2"
            *ngFor="let color of variants; let i = index"
            (click)="selectColor(i);setquantiy()"
          >
            <img
              width="20px"
              height="20px"
              src="{{ color.main_image }}"
              alt=""
            />
          </button>
          &nbsp;
        </div>

        <div class="color">Size</div>

        <div class="sizeVariant">
          <button
            type="button"
            *ngFor="let size of variants[0].size_variants; let i = index"
            class="productSize"

            (click)="selectSizeIndex(i);setquantiy()"
            [(ngModel)]="selectedSize"
          >
            {{ size.size }}
          </button>
        </div>

        <div class="basicInfo bb">
          <div class="title">Basic Information</div>
          <div class="info" *ngFor="let Info of basicInfo.slice(0, 4)">
            <div class="property">{{ Info.heading }}</div>
            <div class="value">{{ Info.description }}</div>
          </div>
        </div>
      </div>
      <div class="product-quantity">
        <div class="product-quantity-card">
          <div class="product-quantity-card-title">Quantity</div>
          <div class="editQuantity">
            <button
              type="button"
              class="modify increase btn"
              (click)="descrease()"
              *ngIf="count !== moq"
            >
              -
            </button>
            <div class="quantityNow" [(ngModel)]="selectedQuantity">{{ count }}</div>
            <div class="modify increase" (click)="increase()">+</div>
          </div>

          <div class="buyNow button">
            <!-- <a routerLink="buyNow" >Buy now</a> -->
            <!-- <a (click)="buyNow()" routerLink="buyNow" >Buy now</a> -->
            <a   (click)="buyNow()" routerLink="buyNow" >Buy now</a>
          </div>
        <!-- (click)="goToProduct(mySlider.product_id)" -->

          <div class="addToFav button">Add to favorites</div>
        </div>
        <div class="product-quantity-card">
          <div class="product-quantity-card-title">Offers</div>
          <div class="offers">
            <span class="head">Bank Offers :</span> 10% Instant Discount up to
            INR 1250 on Citi Bank Credit Card Transactions. Minimum purchase
            value INR 5000See Details10% Instant Discount up to INR 1250 on Citi
            Bank Credit Card Transactions. Minimum purchase value INR 5000
            <span class="details">See Details</span>
          </div>
          <div class="divider"></div>
          <div class="offers">
            <span class="head">EMI Offers :</span> 10% Instant Discount up to
            INR 1250 on Citi Bank Credit Card Transactions. Minimum purchase
            value INR 5000See Details10% Instant Discount up to INR 1250 on Citi
            Bank Credit Card Transactions. Minimum purchase value INR 5000
            <span class="details">See Details</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="productInfo">
    <ngx-skeleton-loader
      [theme]="{ height: '100%' }"
      count="1"
      appearance="line"
      *ngIf="loader"
    ></ngx-skeleton-loader>

    <div class="head">Product Description</div>
    <div class="cards">
      {{ productdata.detailed_desc }}
    </div>
    <div class="head">Product Details</div>
    <div class="cards">
      <ngx-skeleton-loader
        [theme]="{ height: '100%' }"
        count="1"
        appearance="line"
        *ngIf="loader"
      ></ngx-skeleton-loader>

      <div class="multiMedia">
        <ngx-skeleton-loader
          [theme]="{   height: '100%',}"
          count="1"
          appearance="line"
          *ngIf="loader"
        ></ngx-skeleton-loader>

        <video width="300" height="240" controls src="{{ productdata.video }}">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="cards-details">
        <div class="title">Demonstration of PRODUCT working</div>
        <div class="cards-details-desc">
          <ngx-skeleton-loader
            [theme]="{ height: '100%' }"
            count="1"
            appearance="line"
            *ngIf="loader"
          ></ngx-skeleton-loader>

          {{ productdata.detailed_desc }}
        </div>
      </div>
    </div>
    <div class="cards" *ngFor="let imagedesc of imgDesc">
      <ngx-skeleton-loader
        [theme]="{ height: '100%' }"
        count="1"
        appearance="line"
        *ngIf="loader"
      ></ngx-skeleton-loader>

      <div class="multiMedia">
        <ngx-skeleton-loader
          [theme]="{   height: '100%',}"
          count="1"
          appearance="line"
          *ngIf="loader"
        ></ngx-skeleton-loader>

        <img src="{{ imagedesc.image }}" alt="" />
      </div>
      <div class="cards-details">
        <div class="title">
          {{ imagedesc.heading }}
        </div>
        <div>
          {{ imagedesc.description }}
        </div>
      </div>
    </div>
  </div>

  <div class="productInfoTitle">Product Information</div>
  <div class="productInfoCard">
    <div class="title">Basic Information</div>
    <div class="infoRow">
      <ngx-skeleton-loader
        [theme]="{   height: '100%',}"
        count="1"
        appearance="line"
        *ngIf="loader"
      ></ngx-skeleton-loader>

      <div class="infoCol">
        <div class="infoCell" *ngFor="let Info of basicInfo">
          <div class="key">{{ Info.heading }}</div>
          <div class="value">{{ Info.description }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="productInfoCard">
    <div class="title">Essential Details</div>
    <div class="infoRow">
      <div class="infoCol">
        <div class="infoCell">
          <div class="key">Size</div>
          <div class="value">Lorem Ipsum is</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Number</div>
          <div class="value">859548785612655</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Size</div>
          <div class="value">8784522564544</div>
        </div>
        <div class="infoCell">
          <div class="key">Colour</div>
          <div class="value">Brown</div>
        </div>
      </div>
      <div class="infoCol">
        <div class="infoCell">
          <div class="key">Size</div>
          <div class="value">Lorem Ipsum is</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Number</div>
          <div class="value">859548785612655</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Size</div>
          <div class="value">8784522564544</div>
        </div>
        <div class="infoCell">
          <div class="key">Colour</div>
          <div class="value">Brown</div>
        </div>
      </div>
    </div>
  </div>

  <div class="productInfoCard">
    <div class="title">Delivery Details</div>
    <div class="infoRow">
      <div class="infoCol">
        <div class="infoCell">
          <div class="key">Size</div>
          <div class="value">Lorem Ipsum is</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Number</div>
          <div class="value">859548785612655</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Size</div>
          <div class="value">8784522564544</div>
        </div>
        <div class="infoCell">
          <div class="key">Colour</div>
          <div class="value">Brown</div>
        </div>
      </div>
      <div class="infoCol">
        <div class="infoCell">
          <div class="key">Size</div>
          <div class="value">Lorem Ipsum is</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Number</div>
          <div class="value">859548785612655</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Size</div>
          <div class="value">8784522564544</div>
        </div>
        <div class="infoCell">
          <div class="key">Colour</div>
          <div class="value">Brown</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Similer product -->
  <div class="similarProducts">
    <div class="sameProdTitle">Similar Products</div>

    <div class="flx">
      <div class="carousel-cell ps-2 carousel-card">
        <img
          loading="lazy"
          class="card-img"
          src="../../../assets/Images/product 1.png"
          alt=""
          loading="lazy"
        />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img
              loading="lazy"
              class="country-img"
              src="../../../assets/Images/twemoji_flag-india.png"
              alt=""
            /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>

      <div class="carousel-cell ps-2 carousel-card">
        <img
          loading="lazy"
          class="card-img"
          src="../../../assets/Images/product 1.png"
          alt=""
          loading="lazy"
        />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img
              loading="lazy"
              class="country-img"
              src="../../../assets/Images/twemoji_flag-india.png"
              alt=""
            /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
      <div class="carousel-cell ps-2 carousel-card">
        <img
          loading="lazy"
          class="card-img"
          src="../../../assets/Images/product 1.png"
          alt=""
          loading="lazy"
        />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img
              loading="lazy"
              class="country-img"
              src="../../../assets/Images/twemoji_flag-india.png"
              alt=""
            /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
      <div class="carousel-cell ps-2 carousel-card">
        <img
          loading="lazy"
          class="card-img"
          src="../../../assets/Images/product 1.png"
          alt=""
          loading="lazy"
        />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img
              loading="lazy"
              class="country-img"
              src="../../../assets/Images/twemoji_flag-india.png"
              alt=""
            /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
      <div class="carousel-cell ps-2 carousel-card">
        <img
          loading="lazy"
          class="card-img"
          src="../../../assets/Images/product 1.png"
          alt=""
          loading="lazy"
        />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img
              loading="lazy"
              class="country-img"
              src="../../../assets/Images/twemoji_flag-india.png"
              alt=""
            /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
      <div class="carousel-cell ps-2 carousel-card">
        <img
          loading="lazy"
          class="card-img"
          src="../../../assets/Images/product 1.png"
          alt=""
          loading="lazy"
        />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img
              loading="lazy"
              class="country-img"
              src="../../../assets/Images/twemoji_flag-india.png"
              alt=""
            /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer bb">
    <div class="custReview">
      <div class="title">Costumer Review</div>
      <div class="rating">
        <ngx-skeleton-loader
          [theme]="{   height: '100%',}"
          count="1"
          appearance="line"
          *ngIf="loader"
        ></ngx-skeleton-loader>

        <div class="starFilled"></div>
        <div>{{ reviewAnalysis.stars_out_of_5 }} out of 5</div>
      </div>
      <div class="global">
        {{ reviewAnalysis.total_ratings }} global costumer
      </div>
      <div class="reviews">
        Reviews

        <div class="ratingDesc">
          <label for="5star">5<span>☆</span> </label>
          <ngx-skeleton-loader
            [theme]="{   height: '100%',}"
            count="1"
            appearance="line"
            *ngIf="loader"
          ></ngx-skeleton-loader>

          <progress
            id="5star"
            value="{{ reviewAnalysis.star5.percent }}"
            max="100"
          >
            82%
          </progress>
        </div>
        <div class="ratingDesc">
          <label for="4star">4<span>☆</span></label>
          <progress
            id="4star"
            value="{{ reviewAnalysis.star4.percent }}"
            max="100"
          >
            60%
          </progress>
        </div>
        <div class="ratingDesc">
          <label for="3star">3<span>☆</span></label>
          <progress
            id="3star"
            value="{{ reviewAnalysis.star3.percent }}"
            max="100"
          >
            75%
          </progress>
        </div>
        <div class="ratingDesc">
          <label for="2star">2<span>☆</span></label>
          <progress
            id="2star"
            value="{{ reviewAnalysis.star2.percent }}"
            max="100"
          >
            32%
          </progress>
        </div>
        <div class="ratingDesc">
          <label for="1star">1<span>☆</span></label>
          <progress
            id="1star"
            value="{{ reviewAnalysis.star1.percent }}"
            max="100"
          >
            45%
          </progress>
        </div>
      </div>

      <div class="writeReview">Write a product Review</div>
    </div>
    <div class="reviewDetails">
      <div class="head">
        <div class="title">Reviews</div>
        <div class="reviwCategory">
          <div class="category">Top rated</div>
          <div><i class="fas fa-angle-down"></i></div>
        </div>
      </div>

      <div class="reviewCard" *ngFor="let productReviews of productReview">
        <div class="rating">
          <ngx-skeleton-loader
            [theme]="{   height: '100%',}"
            count="1"
            appearance="line"
            *ngIf="loader"
          ></ngx-skeleton-loader>

          <div class="rating-star">
            <div class="star">{{ productReviews.rating }} ☆</div>
            <div>{{ productReviews.title }}</div>
          </div>
          <div><mat-icon>more_horiz</mat-icon></div>
        </div>
        <div class="reviewCard-desc">
          <ngx-skeleton-loader
            [theme]="{   height: '100%',}"
            count="1"
            appearance="line"
            *ngIf="loader"
          ></ngx-skeleton-loader>

          <div
            class="reviewCard-images"
            *ngIf="productReviews.files && productReviews.files.length > 0"
          >
            <ngx-skeleton-loader
              [theme]="{   height: '100%',}"
              count="1"
              appearance="line"
              *ngIf="loader"
            ></ngx-skeleton-loader>

            <div class="mainImg">
              <img src="{{ productReviews.files[0] }}" alt="" />
            </div>

            <div class="imgs-box">
              <div
                class="imgs"
                *ngFor="let reviewImg of productReviews.files.slice(1)"
              >
                <img src="{{ reviewImg }}" alt="kuch to h" />
              </div>
            </div>
          </div>
          <div
            class="text"
            [ngStyle]="{
              width:
                productReviews.files && productReviews.files.length === 0
                  ? '100%'
                  : '60%'
            }"
          >
            <ngx-skeleton-loader
              [theme]="{   height: '100%',}"
              count="1"
              appearance="line"
              *ngIf="loader"
            ></ngx-skeleton-loader>

            {{ productReviews.description }}

            <div class="customer">
              <ngx-skeleton-loader
                [theme]="{   height: '100%',}"
                count="1"
                appearance="line"
                *ngIf="loader"
              ></ngx-skeleton-loader>

              <div class="customer-name">
                {{ productReviews.user }} {{ productReviews.city }}
              </div>
              <div class="commentTime">{{ productReviews.time }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
