<div class="container1 mb-2">
    <div class="row1">
      <div class="col2 ">
        <p class="animalheading">
       Furniture
        </p>
      
  <hr>
        <div class="sub-container">
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/furniture/cabinateStorage.webp" alt="" />
            <div>
              <p class="cont-Subhead">Cabinet & 
                Storage
              </p>
              <div class="hr"></div>
              <p class="cont-subtext">
           Armories & Wardrobe
            </p>
              <p class="cont-subtext">
                Buffets &  Sideboard
              </p>
              <p class="cont-subtext">
                Vanities
            </p>
              <p class="cont-subtext">
                Storage Cabinets & Lockers
              </p>
            </div>
          </div>
  
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/furniture/chairs.webp" alt="" />
            <div>
              <p class="cont-Subhead">Chairs</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Electric Massaging Chair</p>
              <p class="cont-subtext"> Gaming Chairs </p>
              <p class="cont-subtext res-hide">
            Table & Bar Stools
              </p>
              <p class="cont-subtext">Scopes</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/furniture/officeFurniture.webp" alt="" />
            <div>
              <p class="cont-Subhead">Office Furniutre</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">
                Office Chairs
              </p>
              <p class="cont-subtext">
                Office Furniture Sets
              </p>
              <p class="cont-subtext">
                Workspace Tables
              </p>
              <p class="cont-subtext res-hide2"> 
                Office  Chair Accessories
              </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/furniture/outDoor.webp" alt="" />
            <div>
              <p class="cont-Subhead">Outdoor Furniture </p>
              <div class="hr"></div>
  
              <p class="cont-subtext "> Outdoor Beds </p>
              <p class="cont-subtext"> Outdoor Ottomans </p>
              <p class="cont-subtext "> Outdoor  Seating </p>
              <p class="cont-subtext res-hide "> 
                Outdoor Tables
            </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/furniture/shelving.webp" alt="" />
            <div>
              <p class="cont-Subhead">  Shelves </p>
              <div class="hr"></div>
  
              <p class="cont-subtext"> Bookcases & Standing Shelves </p>
              <p class="cont-subtext"> Wall Shelves & Ledges  </p>
              <p class="cont-subtext res-hide "> Shelving Accessories </p>
              <p class="cont-subtext"> Replacement </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/furniture/table.webp" alt="" />
            <div>
              <p class="cont-Subhead">
            Table
            </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">
                Table  Accessories
              </p>
              <p class="cont-subtext"> Accent Tables </p>
              <p class="cont-subtext res-hide"> Activity Tables </p>
              <p class="cont-subtext res-hide"> 
            Poker & Gems Tables    
            </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col1" >
        <!--<img   loading="lazy" src="../../assets/Animal and pet care/animal and pet care poster.png" alt="" srcset=""> -->
        <p class="poster-head">
          <a href="#"> Baby furniture </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#"> Baby & Todler Furniture Set</a>
          </li>
          <li>
            <a href="#"> Basinet & Cradle Accessoires </a>
          </li>
          <li>
            <a href="#"> Crib & Toddler Bed </a>
          </li>
          <li>
            <a href="#"> High chairs </a>
          </li>
        
          <li>
            <a href="#"> Booster Seats </a>
          </li>
          <li>
           <a href=""  class="view-btn">View All</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  