<app-mainheader></app-mainheader>
<!-- <app-subheader></app-subheader> -->


<div class="productPage bb">

  <!-- <div class="submition-confirm">
      <button class="re-check">Re-check it again before submition</button>
      <button class="submit">Submit the product For verification</button>
    </div> -->

  <div class="productPage-details ">
    <div class="productImages">
      <div class="mainImg-container">
        <img id="expandedImg" src="{{ variants.main_image }}" />
      </div>

      <!-- The five columns -->
      <div class="imgMap" *ngFor="let images of productdata.extra_images">


        <div class="images">
          <img src="{{images}}" alt="Nature" (click)="myFunction('{{images}}')" />
        </div>
        <!-- <div class="images">
            <img src="../../../assets/Images/product 1.png" alt="Snow"
              (click)="myFunction('assets/Images/product 1.png')" />
          </div>
          <div class="images">
            <img src="../../../assets/Images/about-us-image-3.png" alt="Mountains"
              (click)="myFunction('assets/Images/about-us-image-3.png')" />
          </div>
          <div class="images">
            <img src="../../../assets/Images/about-us-image-4.png" alt="Lights"
              (click)="myFunction('assets/Images/about-us-image-4.png')" />
          </div>
          <div class="images">
            <img src="../../../assets/Images/about-us-image-4.png" alt="Lights"
              (click)="myFunction('assets/Images/about-us-image-4.png')" />
          </div> -->
      </div>
    </div>
    <div class="description">
      <div class="product-decription">
        <div class="name">
          {{ productdata.product_title }}
        </div>
        <div class="rateNreview">
          <div class="rate">
            <div class="dicountedRate">${{productdata.price}}</div>
            <div class="actualRate">
              ({{ productdata.mrp }}&#8377;)
              <div class="lineThrough"></div>
            </div>
            <div class="percentageOff">({{productdata.discount}}% off)</div>
          </div>
          <div class="review">
            <div class="review-rating">
              4.1
              <span><img src="assets/Images/reviewStar.png" alt="" /></span>
            </div>
            <div class="ratingStats">35 rating and 5 reviews</div>
          </div>
        </div>
        <div class="condition">
          <img src="assets/Images/info image png.png" alt="" />minimum order 60
          pieces
        </div>
        <div class="color">Colour : <div class="border d-inline-block" *ngFor="let color of variants">
            {{color.color}}&nbsp;</div>
        </div>
        <div class="multipleImg">
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
          <img src="assets/Images/sample_product_1.png" alt="" class="image" />
        </div>

        <div class="color">Size </div>

        <div class="sizeVariant">
          <div class="productSize" (click)="selectSize('small')">Small</div>

          <div class="productSize selected" (click)="selectSize('medium')">Medium</div>
          <div class="productSize">Large</div>
          <div class="productSize">XLarge</div>
        </div>

        <div class="basicInfo" *ngIf="medium">
          <div class="title">Basic Information</div>
          <div class="info">
            <div class="property">Size</div>
            <div class="value">Lorem Ipsum is</div>
          </div>
          <div class="info">
            <div class="property">Model Number</div>
            <div class="value">859548785612655</div>
          </div>
          <div class="info">
            <div class="property">Model Size</div>
            <div class="value">8784522564544</div>
          </div>
          <div class="info">
            <div class="property">Colour</div>
            <div class="value">Brown</div>
          </div>
        </div>


        <div class="basicInfo" *ngIf="small">
          <div class="title">Basic Information smalll</div>
          <div class="info">
            <div class="property">Size</div>
            <div class="value">Lorem Ipsum is</div>
          </div>
          <div class="info">
            <div class="property">Model Number</div>
            <div class="value">859548785612655</div>
          </div>
          <div class="info">
            <div class="property">Model Size</div>
            <div class="value">8784522564544</div>
          </div>
          <div class="info">
            <div class="property">Colour</div>
            <div class="value">Brown</div>
          </div>
        </div>
      </div>
      <div class="product-quantity">
        <div class="product-quantity-card">
          <div class="product-quantity-card-title">Quantity</div>
          <div class="editQuantity">
            <div class="modify">-</div>
            <div class="quantityNow">60</div>
            <div class="modify increase">+</div>
          </div>

          <div class="buyNow button">Buy now</div>
          <div class="addToFav button">Add to favorites</div>
        </div>
        <div class="product-quantity-card">
          <div class="product-quantity-card-title">Offers</div>
          <div class="offers">
            <span class="head">Bank Offers :</span> 10% Instant Discount up to
            INR 1250 on Citi Bank Credit Card Transactions. Minimum purchase
            value INR 5000See Details10% Instant Discount up to INR 1250 on Citi
            Bank Credit Card Transactions. Minimum purchase value INR 5000
            <span class="details">See Details</span>
          </div>
          <div class="divider"></div>
          <div class="offers">
            <span class="head">EMI Offers :</span> 10% Instant Discount up to
            INR 1250 on Citi Bank Credit Card Transactions. Minimum purchase
            value INR 5000See Details10% Instant Discount up to INR 1250 on Citi
            Bank Credit Card Transactions. Minimum purchase value INR 5000
            <span class="details">See Details</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="productInfo">
    <div class="head">Product Description</div>
    <div class="cards">
      {{productdata.detailed_desc}}
    </div>
    <div class="head">Product Details</div>
    <div class="cards">
      <div class="multiMedia">
        <!-- <iframe src="{{productdata.video}}"></iframe> -->
        <video width="320" height="240" controls src={{productdata.video}}>
          Your browser does not support the video tag.
        </video>
        <!-- <video width="320" height="240" controls src={{video}}>
            Your browser does not support the video tag.
          </video> -->

      </div>
      <div class="cards-details">
        <div class="title">
          Lorem Ipsum is simply dummy text of the printing and typesetting
        </div>
        <div class="cards-details-desc">
          {{productdata.detailed_desc}}
        </div>
      </div>
    </div>
    <div class="cards" *ngFor="let imagedesc of imgDesc ">
      <div class="multiMedia">
        <img src="{{imagedesc.image}}" alt="" />
      </div>
      <div class="cards-details">
        <div class="title">
          {{imagedesc.heading}}
        </div>
        <div>
          {{imagedesc.description}}
        </div>
      </div>
    </div>

  </div>

  <div class="productInfoTitle">Product Information</div>
  <div class="productInfoCard">
    <div class="title">Basic Information</div>
    <div class="infoRow">
      <div class="infoCol">
        <div class="infoCell">
          <div class="key">Size</div>
          <div class="value">Lorem Ipsum is</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Number</div>
          <div class="value">859548785612655</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Size</div>
          <div class="value">8784522564544</div>
        </div>
        <div class="infoCell">
          <div class="key">Colour</div>
          <div class="value">Brown</div>
        </div>
        <div class="infoCell">
          <div class="key">Bottle number</div>
          <div class="value">878985542512332</div>
        </div>
        <div class="infoCell">
          <div class="key">Plastic Details</div>
          <div class="value">Level A plastic</div>
        </div>
        <div class="infoCell">
          <div class="key">Material</div>
          <div class="value">Plastic sillicon</div>
        </div>
        <div class="infoCell">
          <div class="key">Country Detail</div>
          <div class="value">Delhi, India</div>
        </div>
      </div>
    </div>
  </div>

  <div class="productInfoCard">
    <div class="title">Essential Details</div>
    <div class="infoRow">
      <div class="infoCol">
        <div class="infoCell">
          <div class="key">Size</div>
          <div class="value">Lorem Ipsum is</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Number</div>
          <div class="value">859548785612655</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Size</div>
          <div class="value">8784522564544</div>
        </div>
        <div class="infoCell">
          <div class="key">Colour</div>
          <div class="value">Brown</div>
        </div>
      </div>
      <div class="infoCol">
        <div class="infoCell">
          <div class="key">Size</div>
          <div class="value">Lorem Ipsum is</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Number</div>
          <div class="value">859548785612655</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Size</div>
          <div class="value">8784522564544</div>
        </div>
        <div class="infoCell">
          <div class="key">Colour</div>
          <div class="value">Brown</div>
        </div>
      </div>
    </div>
  </div>

  <div class="productInfoCard">
    <div class="title">Delivery Details</div>
    <div class="infoRow">
      <div class="infoCol">
        <div class="infoCell">
          <div class="key">Size</div>
          <div class="value">Lorem Ipsum is</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Number</div>
          <div class="value">859548785612655</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Size</div>
          <div class="value">8784522564544</div>
        </div>
        <div class="infoCell">
          <div class="key">Colour</div>
          <div class="value">Brown</div>
        </div>
      </div>
      <div class="infoCol">
        <div class="infoCell">
          <div class="key">Size</div>
          <div class="value">Lorem Ipsum is</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Number</div>
          <div class="value">859548785612655</div>
        </div>
        <div class="infoCell">
          <div class="key">Model Size</div>
          <div class="value">8784522564544</div>
        </div>
        <div class="infoCell">
          <div class="key">Colour</div>
          <div class="value">Brown</div>
        </div>
      </div>
    </div>
  </div>

  <div class="similarProducts">
    <div class="sameProdTitle">Similar Products</div>

    <div class="flx">
      <div class="carousel-cell ps-2 carousel-card">
        <img loading="lazy" class="card-img" src="../../../assets/Images/product 1.png" alt="" loading="lazy" />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img loading="lazy" class="country-img" src="../../../assets/Images/twemoji_flag-india.png"
              alt="" /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>

      <div class="carousel-cell ps-2 carousel-card">
        <img loading="lazy" class="card-img" src="../../../assets/Images/product 1.png" alt="" loading="lazy" />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img loading="lazy" class="country-img" src="../../../assets/Images/twemoji_flag-india.png"
              alt="" /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
      <div class="carousel-cell ps-2 carousel-card">
        <img loading="lazy" class="card-img" src="../../../assets/Images/product 1.png" alt="" loading="lazy" />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img loading="lazy" class="country-img" src="../../../assets/Images/twemoji_flag-india.png"
              alt="" /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
      <div class="carousel-cell ps-2 carousel-card">
        <img loading="lazy" class="card-img" src="../../../assets/Images/product 1.png" alt="" loading="lazy" />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img loading="lazy" class="country-img" src="../../../assets/Images/twemoji_flag-india.png"
              alt="" /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
      <div class="carousel-cell ps-2 carousel-card">
        <img loading="lazy" class="card-img" src="../../../assets/Images/product 1.png" alt="" loading="lazy" />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img loading="lazy" class="country-img" src="../../../assets/Images/twemoji_flag-india.png"
              alt="" /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
      <div class="carousel-cell ps-2 carousel-card">
        <img loading="lazy" class="card-img" src="../../../assets/Images/product 1.png" alt="" loading="lazy" />
        <div class="text">
          <div class="text-heading">Wall Paint</div>
          <div class="sub-text1">Asian paints</div>
        </div>
        <div class="sub-text2">
          Bengaluru
          <span class="country">
            <img loading="lazy" class="country-img" src="../../../assets/Images/twemoji_flag-india.png"
              alt="" /><span>IN</span>
          </span>
        </div>
        <div class="rating">4.1 ☆</div>
        <div class="rate">
          <div class="price">Rs.25000</div>
          <div class="previousPrice">Rs.40000</div>
          <div class="off">(75% off)</div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="custReview">
      <div class="title">Costumer Review</div>
      <div class="rating">
        <div class="starFilled">☆☆☆☆</div>
        <div class="blankStar">☆</div>
        <div>4 out of 5</div>
      </div>
      <div class="global">10 global costumer</div>
      <div class="reviews">
        Reviews

        <!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->

        <div class="ratingDesc">
          <label for="5star">5<span>☆</span> </label>
          <progress id="5star" value="82" max="100">82%</progress>
        </div>
        <div class="ratingDesc">
          <label for="4star">4<span>☆</span></label>
          <progress id="4star" value="60" max="100">60%</progress>
        </div>
        <div class="ratingDesc">
          <label for="3star">3<span>☆</span></label>
          <progress id="3star" value="75" max="100">75%</progress>
        </div>
        <div class="ratingDesc">
          <label for="2star">2<span>☆</span></label>
          <progress id="2star" value="32" max="100">32%</progress>
        </div>
        <div class="ratingDesc">
          <label for="1star">1<span>☆</span></label>
          <progress id="1star" value="45" max="100">45%</progress>
        </div>
      </div>

      <div class="writeReview">Write a product Review</div>
    </div>
    <div class="reviewDetails">
      <div class="head">
        <div class="title">Reviews</div>
        <div class="reviwCategory">
          <div class="category">Top rated</div>
          <div><i class="fas fa-angle-down"></i></div>
        </div>
      </div>

      <div class="reviewCard" *ngFor="let productReviews of productReview ">


        <div class="rating">
          <div class="rating-star">
            <div class="star">{{productReviews.rating}} ☆</div>
            <div>{{productReviews.title}}</div>
          </div>
          <div><mat-icon>more_horiz</mat-icon></div>
        </div>
        <div class="reviewCard-desc">
          <div class="reviewCard-images ">
            <div class="mainImg ">
              <img  src="{{productReviews.files[0]}}" alt="" />

            </div>
            
           <div class="imgs-box">
            <div class=" imgs" *ngFor="let reviewImg of productReviews.files.slice(1);">
              <img src="{{reviewImg}}" alt="kuch to h" />
            </div>

            
           </div>
           
          </div>
          <div class="text">
            {{productReviews.description}}

            <div class="customer">
              <div class="customer-name"> {{productReviews.user}} {{productReviews.city}} </div>
              <div class="commentTime"> {{productReviews.time}} </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>