<div class="container1 mb-2 mt-2">
    <div class="rowleft">
      <div class="col1">
        <p class="poster-head">
          <a href="#"> Health Care </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#"> Acupuncture </a>
          </li>
          <li>
            <a href="#"> Bed Pans </a>
          </li>
          <li>
            <a href="#"> Monitor Accessories </a>
          </li>
          <li>
            <a href="#"> Blood Glucose Meter Accessories </a>
          </li>
          <li>
            <a href="#"> Lancing Device </a>
          </li>
          <li>
            <a href="#" class="view-btn"> View all </a>
          </li>
        </ul>
      </div>
      <div class="col2">
        <p class="animalheadingleft">
            Health & Beauty
        </p>
        <hr>
  
        <div class="sub-container">
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/healthBeauty/biometric.webp" alt="" />
            <div>
              <p class="cont-Subhead">Biometric Monitor</p>
              <div class="hr"></div>
              <p class="cont-subtext">Activity Monitor</p>
              <p class="cont-subtext res-hide">Blood Glucose Meters</p>
              <p class="cont-subtext res-hide">Body Fat Analyzers</p>
              <p class="cont-subtext">Cholesterol Analyzers</p>
            </div>
          </div>
  
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/healthBeauty/FirstAid.webp" alt="" />
            <div>
              <p class="cont-Subhead">First Aid</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Cleaning Supplies</p>
              <p class="cont-subtext res-hide"> Eye Wash Supplies </p>
              <p class="cont-subtext"> First Aid  Kits </p>
              <p class="cont-subtext"> Hot & Cold Therapies </p>
            </div>
          </div>
          <div class="animal-contt">
            <img   loading="lazy" src="../../assets/healthBeauty/fitness.webp" alt="" />
             <div>
               <p class="cont-Subhead">Fitness & Nutrition</p>
               <div class="hr"></div>
   
               <p class="cont-subtext">Nutrition Bars</p>
               <p class="cont-subtext"> Nutrition Drinks </p>
               <p class="cont-subtext"> Nutrition Gels </p>
               <p class="cont-subtext"> Tube Feeding Suppliments </p>
             </div>
           </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/healthBeauty/medical.webp" alt="" />
            <div class="">
              <p class="cont-Subhead"> Medical Tests </p>
              <div class="hr"></div>
  
              <div style="

              "
              class="myscroll" >
                <p class="cont-subtext">Allergy Test Kits</p>
              <p class="cont-subtext"> bloody Typing Test kits </p>
              <p class="cont-subtext"> Drug Tests </p>
              <p class="cont-subtext" > Pregnancy Tests </p>
              </div>
            </div>
          </div>
         
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/healthBeauty/mobility.webp" alt="" />
            <div>
              <p class="cont-Subhead"> Mobility & Accessibility </p>
              <div class="hr"></div>
  
              <p class="cont-subtext "> Accessibility Equipment </p>
              <p class="cont-subtext"> Mobility Scooters </p>
              <p class="cont-subtext"> Transfer Boards & Sheets </p>
              <p class="cont-subtext"> Wheelchairs </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/healthBeauty/cosmetic.webp" alt="" />
            <div>
              <p class="cont-Subhead">Cosmetic</p>
              <div class="hr"></div>
  
              <p class="cont-subtext"> Bath & Body </p>
              <p class="cont-subtext"> Cosmetic Tools </p>
              <p class="cont-subtext "> Makeup </p>
              <p class="cont-subtext"> Skin Care </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  