<div class="container-fluid">
    <div class="row">
      <div class="col1">
        <img src="../../assets/OurService/verifiedSeller.webp" alt="" />
        <p class="heading">Verfied Seller</p>
        <p class="sub-text">
          Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur
        </p>
      </div>
      <div class="col1">
        <img src="../../assets/OurService/secure payment.webp" alt="" />
        <p class="heading">Secure Payments</p>
        <p class="sub-text">
          Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur
        </p>
      </div>
      <div class="col1">
        <img src="../../assets/OurService/fast delivery.webp" alt="" />
  
        <p class="heading">Fast Delivery</p>
        <p class="sub-text">
          Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur
        </p>
      </div>
      <div class="col1">
        <img src="../../assets/OurService/ex-work.webp" alt="" />
  
        <p class="heading">Ex-work Or DDP</p>
        <p class="sub-text">
          Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur
        </p>
      </div>
      <div class="col1">
        <img src="../../assets/OurService/suppo.webp" alt="" />
  
        <p class="heading">Support 24/7</p>
        <p class="sub-text">
          Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur
        </p>
      </div>
    </div>
  </div>
  