<div class="container1 mb-2 mt-2">
    <div class="rowleft">
      <div class="col1">
        <p class="poster-head">
          <a href="#">  Office Supplies </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a href="#"> Book accessories </a>
          </li>
          <li>
            <a href="#"> Filing & Organisation </a>
          </li>
          <li>
            <a href="#"> General Office Supplies </a>
          </li>
          <li>
            <a href="#"> Office and Chair Mats </a>
          </li>
          <li>
            <a href="#"> Office Instruments </a>
          </li>
          <li>
            <a href="#" class="view-btn"> View all </a>
          </li>
        </ul>
      </div>
      <div class="col2">
        <p class="animalheadingleft">Office Supplies</p>
        <hr>
  
        <div class="sub-container">
          <div class="animal-contt">
           <img   loading="lazy" src="../../../assets/OfficeSupplies/BookAccessoires.webp" alt="" />
            <div>
              <p class="cont-Subhead">Book Accessories</p>
              <div class="hr"></div>
              <p class="cont-subtext">Book Cover</p>
              <p class="cont-subtext">Book Lights</p>
              <p class="cont-subtext res-hide">Book Stand & Resets</p>
              <p class="cont-subtext">Bookmarks</p>
            </div>
          </div>
  
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/OfficeSupplies/filling.webp" alt="" />
            <div>
              <p class="cont-Subhead">Filling & Organization</p>
              <div class="hr"></div>
  
             <div class="border myoverflow">
              <p class="cont-subtext">Binding Supplies</p>
              <p class="cont-subtext res-hide">Bussiness Card Books</p>
              <p class="cont-subtext">Calender</p>
              <p class="cont-subtext">Portfolios & Padfolios</p>
             </div>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/OfficeSupplies/officeSupplies.webp" alt="" />
            <div>
              <p class="cont-Subhead">Office Supplies</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Correction Fluids</p>
              <p class="cont-subtext">Label & Tags</p>
              <p class="cont-subtext">Mounting Putty</p>
              <p class="cont-subtext">Paper Products </p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/OfficeSupplies/chairs.webp" alt="" />
            <div>
              <p class="cont-Subhead">Office & Chair Mats</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Anti Fatigue Mats</p>
              <p class="cont-subtext">Chair Mats</p>
              <p class="cont-subtext">Office Mats</p>
              <p class="cont-subtext">Book Carts</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/OfficeSupplies/officeInstrument.webp" alt="" />
            <div>
              <p class="cont-Subhead">Office Instruments </p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Call Bell</p>
              <p class="cont-subtext">Clipboard</p>
              <p class="cont-subtext">Letter Opener</p>
              <p class="cont-subtext">Magnifiers</p>
            </div>
          </div>
          <div class="animal-contt">
           <img   loading="lazy" src="../../assets/OfficeSupplies/presentation.webp" alt="" />
            <div>
              <p class="cont-Subhead">Presentation Supplies</p>
              <div class="hr"></div>
  
              <p class="cont-subtext">Display Board</p>
              <p class="cont-subtext res-hide">Document Cameras</p>
              <p class="cont-subtext">Erasel Pads</p>
              <p class="cont-subtext">Laser Pointers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 